body{
    color:black;
  overflow-x: hidden;
  }
 
img{
    border-radius: 50%;
}

.imgcontainer{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.team{
    text-align: center;
    font-weight: bold;
}
/* 
position: relative;
    left: 1em;
    top: 1em;
    max-width: 120%;
    margin: auto;
    background-color: white;
    padding: 10px; */