/* Bordered form */
body{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 5px;
}
form {
    border: 3px solid #f1f1f1;
    margin-bottom: 10px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:#00AEFF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  .or{
 text-align: center;
  }

  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 10px;
  }
  .option{
  height:50px;
   width:415px;
   max-width: 100%;
   min-width: 100%;
    }
  
  /* The "Forgot password" text */
  .foot{
margin-left: 300px;
margin-bottom: 10px;
  }
  
  